<% if current_user %>
				<ul>
				<li><%= link_to "Twój profil", user_path(current_user) %></li>
				<li><%= link_to "Edytuj profil", edit_user_path(current_user) %></li>
				<li><%= link_to "Logout", logout_path %></li>
				</ul>
<% else %>
   <%= form_for @user_session do |f| %>
    Login:<br />
    <%= f.text_field :username %><br />
    Hasło:<br />
    <%= f.password_field :password %>
    <%= f.submit "Zaloguj" %>
<% end %>
<br /><br />
<ul>
<li><%= link_to "Rejestracja", register_path, :class => "showmessage" %></li>
</ul>
			<% end %>

