<div class="box">
<% if current_user %>
  <% form_for :sbmessage, :url => {:controller => "sbmessages", :action => "create"} do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    wiadomość:<br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.submit 'Dodaj' %>
  </p>
<% end %>
<br /><br />
<% end %>

<% @sbmessages.each do |message| %>
		<div class="webmessage_username"><%= User.find(message.user_id).username %>&nbsp;:&nbsp;&nbsp;
      <div style="display:inline;color:white;"><%= message.message %></div>
    </div>
    <div class="webmessage_webmessage"></div>
<% end %>
</div>

