<%= form_for [:admin, @article] do |f| %>
<br />
<p>
<%= f.label :tytuł %>:<br />
<%= f.text_field :title %><br />
<%= f.label :tagi %>:<br />
<%= f.text_field :tag %><br />
<br /><br /><br /><br />
<%= f.label :zajawka %>:<br />


<%= f.text_area :head, :class => "jquery_ckeditor" %><br />


<%= f.label :treść %>:<br />
<%= f.text_area :body, :class => "jquery_ckeditor" %><br />
<%= f.submit %>
</p>

<% end %>
<%= link_to "Powrót", admin_articles_path %>