  <div class="mainbox">
		<div class="mainbox_top">
			<div class="mainbox_top_left"></div>
      <div class="mainbox_top_center"><%= @article.title%></div>
			<div class="mainbox_top_right"></div>
		</div>

		<div class="mainbox_left">
			<div class="mainbox_right">
				<div class="mainbox_center">
        <%= @article.head.html_safe %><br />
        <%= @article.body.html_safe %>
        <div class="read_more"><%= link_to "Powrót", root_path%></div>
      </div>
			</div>
		</div>

		<div class="mainbox_down">
			<div class="mainbox_down_left"></div>
			<div class="mainbox_down_center"></div>
			<div class="mainbox_down_right"></div>
		</div>
  </div>  
  <% if current_user %>
    <%= render "comments/new" %>
  <% end %>
  <div id="comments">
  <%= render "comments/index"%>
  </div>