<div class="mainbox">
		<div class="mainbox_top">
			<div class="mainbox_top_left"></div>
      <div class="mainbox_top_center"><%= %></div>
			<div class="mainbox_top_right"></div>
		</div>

		<div class="mainbox_left">
			<div class="mainbox_right">
				<div class="mainbox_center">
          <p>
          <%= link_to "Galeria samochodu", user_cargalleries_path(current_user)%>
          </p>
        <%= form_for(@avatar, :html => { :multipart => true }) do |f| %>
        <%= f.hidden_field :user_id, :value => User.find(:first, :conditions => {:username => params[:id]}).id%><br />
        <% if @user.avatar.nil? %>
        <%= image_tag "/images/missing.png"%><br />
       <% else %>
      <%= image_tag @user.avatar.photo.url(:small)%><br />
       <% end %>
          <%= f.file_field :photo %><br />
          <%= f.submit "Dodaj lub zmień swój avatar"%>
        <% end %>
          
          <br /><br />
          
<%= form_for(@user, :url =>{:controller => :users, :action => :update}) do |f| %>

    <%= f.label :username %>:<br />
    <%= f.text_field :username %>
  <p>
    <%= f.label :email %>:<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :gg %>:<br />
    <%= f.text_field :gg %>
  </p>
  <p>
    <%= f.label :skype %>:<br />
    <%= f.text_field :skype %>
  </p>
  <p>
    <%= f.label :tlen %>:<br />
    <%= f.text_field :tlen %>
  </p>
  <p>
    <%= f.label :yahoo %>:<br />
    <%= f.text_field :yahoo %>
  </p>
  <p>
    <%= f.label :password %>:<br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>:<br />
    <%= f.text_field :password_confirmation %>
  </p>
    
    <%= f.submit  %>
<% end %>
      </div>
			</div>
		</div>

		<div class="mainbox_down">
			<div class="mainbox_down_left"></div>
			<div class="mainbox_down_center"></div>
			<div class="mainbox_down_right"></div>
		</div>
  </div>