<div class="mainbox">
		<div class="mainbox_top">
			<div class="mainbox_top_left"></div>
			<div class="mainbox_top_center"></div>
			<div class="mainbox_top_right"></div>
		</div>

		<div class="mainbox_left">
			<div class="mainbox_right">
				<div class="mainbox_center">
        <% if @user.avatar.nil? %>
        <%= image_tag "/images/missing.png", :align => "left", :style => "margin: -20px 0px 0px 0px;"%>
       <% else %>
      <%= image_tag @user.avatar.photo.url(:small), :align => "left", :style => "margin: -20px 0px 0px 0px; padding: 0px 20px 0px 0px;"%><br />
       <% end %>
Login:  <%= @user.username %><br />
Email:  <%= @user.email%><br />
<p style="line-height:25px;">
<%= image_tag "/images/gg25.png",:align =>"left" %><%= @user.gg %><br />
</p>
<p style="line-height:25px;">
<%= image_tag "/images/skype25.png",:align =>"left" %><%= @user.skype%><br />
</p>
<p style="line-height:25px;">
<%= image_tag "/images/tlen25.png",:align =>"left" %><%= @user.tlen %><br />
</p>
<p style="line-height:25px;">
<%= image_tag "/images/yahoo25.png",:align =>"left" %><%= @user.yahoo%><br />
</p>
      </div>
			</div>
		</div>

		<div class="mainbox_down">
			<div class="mainbox_down_left"></div>
			<div class="mainbox_down_center"></div>
			<div class="mainbox_down_right"></div>
		</div>
  </div>  
