<div class="mainbox_left">
			<div class="mainbox_right">
				<div class="mainbox_center">
<%= form_for @user_session do |f| %>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    <p>
      <%= f.label :password %><br />
      <%= f.text_field :password %>
    </p>
    <%= f.submit "Login" %>
<% end %>
      </div>
			</div>
		</div>

		<div class="mainbox_down">
			<div class="mainbox_down_left"></div>
			<div class="mainbox_down_center"></div>
			<div class="mainbox_down_right"></div>
		</div>
	</div>
</div>
