<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tests: <%# controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'all' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="frame">
		<div id="baner"></div>
		<div id="vericalmenu">
			<div id="vericalmenu_left"></div>
			<div id="vericalmenu_center"><%= link_to 'Strona główna', "/"%></div>
			<div id="vericalmenu_right"></div>
		</div>
		<div id="under_menu">
			<div id="under_menu_left"></div>
			<div id="under_menu_center"></div>
			<div id="under_menu_right"></div> 
		</div>


		<div id="frame2">
			<div id="frame2_left">
  				<div id="frame2_right">
    				<div id="frame2_center">
<div id="site-a" style="float:left;">
	<%= render :partial => "share/site_a" %>
</div>
<div id="main">
            <%= yield %>
</div>
<div id="site-b" style="float:right;">
	<%= render :partial => "share/site_b" %>
</div>
<div id="footer_inside">
	<%= render :partial => "share/footer_inside" %>
</div>

				</div>
			</div>
		</div>
</div>

		<div id="frame3">
			<div id="frame3_left"></div>
			<div id="frame3_center"></div>
			<div id="frame3_right"></div>
  
		</div>
<p class="test"><%= flash[:notice] %></p>
	</div>
</body>
</html>

